:root {
  --white: #ffffff;
  --main: #399df5;
  --background: #f0f5fb;
  --font: #212226;
  --placeholder: #808080;
  --yellow: #fdea81;
  --red: #f85f61;
  --purple: #877bfb;
  --sec-blue: #2ed0f7;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
  font-family: 'Readex Pro', sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 300;
}

body {
  font-family: 'Readex Pro', sans-serif;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main);
}

::selection {
  background-color: var(--main);
}

.container {
  position: relative;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.container h1 a {
  color: var(--main);
  height: 3vh;
}

.wrap-form {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  border-radius: 16px;
  background-color: var(--background);
  overflow: hidden;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrap-inputs {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 4;
}

.wrap-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}

.wrap-input input:focus,
.wrap-input textarea:focus {
  border: 1px solid var(--main);
}

.wrap-input-desc {
  flex-grow: 1;
}

.wrap-input input,
textarea {
  min-width: 100%;
  margin-top: 5px;
  background-color: var(--white);
  height: 50px;
  border-radius: 8px;
  padding: 15px;
}

.post-btn {
  margin-top: 30px;
  background-color: var(--main);
  color: var(--white);
  height: 50px;
  border-radius: 8px;
  flex: 1;
  cursor: pointer;
}

.post-btn:hover,
.card:hover {
  filter: brightness(95%);
}

main {
  margin-top: 30px;
  overflow: auto;
  height: 80vh;
}

.loading {
  display: block;
  font-size: 1.5rem;
  font-weight: 800;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding: 15px;
  border-radius: 8px;
  z-index: 20;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  place-items: start;
}

.card {
  width: 100%;
  min-height: 300px;
  background-color: var(--background);
  color: var(--font);
  border-radius: 16px;
  padding: 30px;
  overflow: hidden;
}

.card h4 {
  color: var(--sec-blue);
  cursor: pointer;
}

.card h4:hover {
  text-decoration: underline;
}

.card p {
  margin-top: 15px;
  color: var(--font);
}

.bg-comments {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.wrap-comments {
  width: 60%;
  height: 80%;
  background-color: var(--white);
  border-radius: 16px;
  padding: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.wrap-icon-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4%;
}

.close {
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
}

.close:hover {
  background-color: var(--background);
}

.wrap-icon-title i {
  font-size: 1.5rem;
}

.comments {
  margin-top: 20px;
  height: 90%;
  overflow: auto;
}

.comment {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--background);
  border-radius: 8px;
}

.wrap-name-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.wrap-name-email .name {
  color: var(--sec-blue);
  font-size: 1.1rem;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}

.wrap-name-email .email {
  color: var(--placeholder);
  font-size: 0.9rem;
  font-weight: 400;
}

.comment .body {
  font-size: 1.2rem;
  margin-top: 15px;
}

aside {
  width: 25%;
  background-color: var(--background);
  height: 100vh;
}

.wrap-users {
  padding: 30px;
  height: 100%;
}

.users {
  margin-top: 10px;
  max-height: 90vh;
  overflow: auto;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  padding-left: 0;
}

.circel {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: #f85f61;
}

.user-name {
  color: var(--placeholder);
  font-weight: 400;
}

.wrap-name {
  margin-left: 10px;
}

.wrap-name .name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*  -------- media Query ------------- */
@media screen and (max-width: 1200px) {
  .container {
    width: 70%;
  }

  aside {
    width: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 68%;
  }

  aside {
    width: 32%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 65%;
  }

  aside {
    width: 35%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }

  aside {
    display: none;
  }
}
